<a href="https://colab.research.google.com/github/Indranil301/misclaneous/blob/main/stock_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
import math

In [6]:
import yfinance as yt

In [38]:
!pip install missingno
import missingno as msna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingno in /usr/local/lib/python3.8/dist-packages (0.5.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from missingno) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from missingno) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from missingno) (3.5.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.8/dist-packages (from missingno) (0.11.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (7.1.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->missingno) (3.0.9)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from seaborn->missingno) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->seaborn->missingno) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.15.0)

In [2]:
stocks = pd.read_csv("/content/sp_500_stocks.csv")
print(stocks)

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [30]:
j = [i for i in stocks["Ticker"].values]

In [31]:
stock_price= yt.download(j, start="2010-01-1", end="2021-01-01")

[*********************100%***********************]  505 of 505 completed

32 Failed downloads:
- FLIR: No timezone found, symbol may be delisted
- MYL: No timezone found, symbol may be delisted
- HFC: No timezone found, symbol may be delisted
- KSU: No timezone found, symbol may be delisted
- CERN: No timezone found, symbol may be delisted
- NLSN: No timezone found, symbol may be delisted
- MXIM: No timezone found, symbol may be delisted
- DRE: No timezone found, symbol may be delisted
- WLTW: No timezone found, symbol may be delisted
- NLOK: No timezone found, symbol may be delisted
- CXO: No timezone found, symbol may be delisted
- ETFC: No timezone found, symbol may be delisted
- FBHS: No timezone found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- COG: No timezone found, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted
- BLL: No timezone found, symbol may be delisted
- DISCK: No timezone found, symbol may be delisted
- ANTM: No timezone found, symbol may be delisted
- VAR: No timezone found, symbol may be delisted
- LB: No timezone found, symbol may be delisted
- CTL: No timezone found, symbol may be delisted
- FB: No timezone found, symbol may be delisted
- XLNX: No timezone found, symbol may be delisted
- ALXN: No timezone found, symbol may be delisted
- VIAC: No timezone found, symbol may be delisted
- PBCT: No timezone found, symbol may be delisted
- TIF: No timezone found, symbol may be delisted
- NBL: No timezone found, symbol may be delisted
- DISCA: No timezone found, symbol may be delisted
- INFO: No timezone found, symbol may be delisted
- CTXS: No timezone found, symbol may be delisted

In [34]:
stock_price.shape

(2769, 3030)

In [36]:
stock_price.head(5)

            Adj Close                                                       \
                    A       AAL        AAP      AAPL ABBV        ABC  ABMD
Date
2010-01-04  20.301353  4.496877  37.163273  6.505281  NaN  21.831717  8.74
2010-01-05  20.080832  5.005957  36.942387  6.516527  NaN  21.675951  8.53
2010-01-06  20.009483  4.798553  37.264500  6.412874  NaN  21.470999  8.40
2010-01-07  19.983545  4.939965  37.255295  6.401019  NaN  21.126684  8.40
2010-01-08  19.977057  4.845692  37.402557  6.443573  NaN  21.356230  8.23

                                             ... Volume                     \
                  ABT        ACN       ADBE  ...   XLNX       XOM     XRAY
Date                                         ...
2010-01-04  19.433033  32.836597  37.090000  ...    NaN  27809100  1051400
2010-01-05  19.276031  33.039551  37.700001  ...    NaN  30174700   763400
2010-01-06  19.383080  33.390774  37.619999  ...    NaN  35044700  1595100
2010-01-07  19.543659  33.359550  36.889999  ...    NaN  27192100  1096100
2010-01-08  19.643566  33.226868  36.689999  ...    NaN  24891800   803600


                XRX XYL      YUM      ZBH    ZBRA      ZION ZTS
Date
2010-01-04  5112890 NaN  2962274   805872  168800   3974600 NaN
2010-01-05  3255844 NaN  3298757  1769643  168800   5605500 NaN
2010-01-06  2634375 NaN  4178981  1315619  385300  12615200 NaN
2010-01-07  4508536 NaN  2452472  1734005  183600  24716800 NaN
2010-01-08  2460109 NaN  3772392  2213985  266500   6903000 NaN

[5 rows x 3030 columns]

In [37]:
stock_price.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2769 entries, 2010-01-04 to 2020-12-31
Columns: 3030 entries, ('Adj Close', 'A') to ('Volume', 'ZTS')
dtypes: float64(2605), int64(425)
memory usage: 64.0 MB

In [45]:
stock_price.isnull().sum()

Adj Close  A         0
           AAL       0
           AAP       0
           AAPL      0
           ABBV    754
                  ...
Volume     YUM       0
           ZBH       0
           ZBRA      0
           ZION      0
           ZTS     775
Length: 3030, dtype: int64